# vscode config
.vscode

# python module artifacts
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb

*_backup

# data
data_old/*
landscape_data*
ctrees*
knn_complexes*
charts*

# temporary output text files
out*.txt
*.log
tmp*

# vis out
saved_states/state_*.pkl

# run bash scripts
run_*.sh

*.ini